<div class="containerBox-main">
    <div class="containerBox-header">
        <div class="title">TituloVentana</div>
        <div class="group-circle">
            <div class="circle minimize">
                <svg viewBox="0 0 24 24" width="12" height="12">
                    <line
                        x1="4"
                        y1="12"
                        x2="20"
                        y2="12"
                        stroke="white"
                        stroke-width="2"
                    />
                </svg>
            </div>
            <div class="circle close">
                <svg viewBox="0 0 24 24" width="12" height="12">
                    <line
                        x1="4"
                        y1="4"
                        x2="20"
                        y2="20"
                        stroke="white"
                        stroke-width="2"
                    />
                    <line
                        x1="20"
                        y1="4"
                        x2="4"
                        y2="20"
                        stroke="white"
                        stroke-width="2"
                    />
                </svg>
            </div>
        </div>
    </div>
    <div class="containerBox-body">
        <!-- Contenido de la ventana -->
    </div>
</div>
