<div class="containerBox-small" (click)="openModal()">
  <div class="containerBox-header">
    <div class="title-group">
      . / projects / <span class="title">{{ title }}</span>
    </div>
    <div class="group-circle">
      <div class="circle minimize">
        <svg viewBox="0 0 24 24" width="12" height="12">
          <line
            x1="4"
            y1="12"
            x2="20"
            y2="12"
            stroke="white"
            stroke-width="2"
          />
        </svg>
      </div>
      <div class="circle close">
        <svg viewBox="0 0 24 24" width="12" height="12">
          <line x1="4" y1="4" x2="20" y2="20" stroke="white" stroke-width="2" />
          <line x1="20" y1="4" x2="4" y2="20" stroke="white" stroke-width="2" />
        </svg>
      </div>
    </div>
  </div>
  <div class="containerBox-body">
    <picture>
      <img [src]="imgSrc" alt="" srcset="" />
    </picture>
    <div class="containerBox-body-description">
      {{ shortDescription }}
    </div>
    <div class="containerBox-body-technologies">
      <ng-container *ngFor="let language of langs">
        <app-label-technology [technology]="language"></app-label-technology>
      </ng-container>

      <ng-container *ngFor="let technology of technologies">
        <app-label-technology [technology]="technology"></app-label-technology>
      </ng-container>
    </div>
  </div>
</div>
<app-modal-project
  *ngIf="isModalOpen"
  (close)="closeModal()"
  [srcImgBg]="imgSrc"
  [title]="title"
  [langs]="langs"
>
</app-modal-project>
