nav {
  font-size: 1.3rem;
  display: flex;
  background-color: var(--color-bg__diff_blue_aqua);
  padding: 5px;
  width: 100%;
  border-radius: 15px;
  align-items: center;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
  border: 3px solid var(--color-blue-aqua);
}

nav > .group-items_nav {
  display: flex;
  align-items: center;
  background-color: inherit;
  gap: 5px;
}

.text-clock {
  position: absolute;
  display: block;
  right: 46%;
  color: var(--color-text-nav);
}

.item_nav {
  text-decoration: none;
  border-radius: 15px;
  background-color: inherit;
  padding: 5px 10px;
  font-weight: normal;
  transition: filter 0.3s,
  padding 0.3s;
  color: var(--color-text-nav);
  border: 2px solid transparent;
  &:hover {
    filter: brightness(1.2);
  }
  cursor: pointer;
}

.item_nav.active {
  border: 2px solid var(--color-green);
}

a > img {
  display: block;
  width: 2.2rem;
  /*width: 1.5rem;*/
}
.item_nav.icon{
  padding: 0;
  margin: 0 5px;
}

@media (max-width: 1100px) {
  .item_nav{
    padding: 5px 5px;
  }
  .text-clock{
    right: 5%;
  }
}
@media (max-width: 660px) {
  .text-clock{
    display: none;
  }
}
