<nav>
    <div class="group-items_nav">
        <a (click)="scrollTo('hero')" class="item_nav icon">
            <img
                src="img/icon_navbar.webp"
                alt=""
            />
        </a>
        <a (click)="scrollTo('hero')" class="item_nav" [ngClass]="{'active': activeSection === 'hero'}">Inicio</a>
        <a (click)="scrollTo('projects')" class="item_nav" [ngClass]="{'active': activeSection === 'projects'}">Proyectos</a>
        <a (click)="scrollTo('contact')" class="item_nav" [ngClass]="{'active': activeSection === 'contact'}">Contáctame</a>
    </div>
    <span class="text-clock"> {{ currentTime }} </span>
    <!-- <button class="item_nav">Modo claro</button> -->
</nav>
