<nav>
    <div class="group-items_nav">
        <a (click)="scrollTo('hero')" class="item_nav">
            <img
                src="https://cdn.icon-icons.com/icons2/3781/PNG/512/linux_icon_231994.png"
                alt=""
            />
        </a>
        <a (click)="scrollTo('hero')" class="item_nav" [ngClass]="{'active': activeSection === 'hero'}">Inicio</a>
        <a (click)="scrollTo('projects')" class="item_nav" [ngClass]="{'active': activeSection === 'projects'}">Proyectos</a>
        <a (click)="scrollTo('contact')" class="item_nav" [ngClass]="{'active': activeSection === 'contact'}">Contáctame</a>
    </div>
    <span class="text-clock"> {{ currentTime }} </span>
    <button class="item_nav">Modo claro</button>
</nav>
